<header class="header">
    <div class="header-left">
        <button class="icon-btn menu-btn" (click)="toggleSidebar()">
            <span class="material-icons">menu</span>
        </button>
        <div class="app-logo" routerLink="/dashboard">
            <span class="app-title">Event Planner</span>
        </div>
    </div>

    <div class="header-right">
        <button #notificationButton data-notification-button class="icon-btn" (click)="toggleNotifications()">
            <span class="material-icons">notifications</span>
            <span class="badge" *ngIf="unreadCount() > 0">{{ unreadCount() }}</span>
        </button>
        <app-notification #notificationDropdown *ngIf="showNotifications"></app-notification>
        <button class="icon-btn" routerLink="/settings">
            <span class="material-icons">settings</span>
        </button>
    </div>
</header>