.snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    z-index: 1000;
    left: auto;
    right: 30px;
    bottom: auto;
    top: 30px;
    font-size: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out, top 0.3s ease-in-out;

    &.show {
        visibility: visible;
        opacity: 1;
        top: 50px;
    }

    &.success {
        background-color: #4caf50;
        /* Green */
    }

    &.error {
        background-color: #f44336;
        /* Red */
    }

    &.info {
        background-color: #2196f3;
        /* Blue */
    }
}