@use 'styles/variables';
@use 'styles/mixins';
@use 'styles/reset';
@use 'styles/buttons';
@use '@angular/material' as mat;

$my-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$my-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

$my-theme: mat.m2-define-light-theme((color: (primary: $my-primary,
                accent: $my-accent,
            )));

@include mat.core();
@include mat.all-component-themes($my-theme);


// Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@500;700&display=swap');